<% provide(:title, 'New Word') %>
<% provide(:button_text, 'Submit') %>
<div class="col-lg-10 col-xl-9 mx-auto">
    <div class="card card-signin flex-row my-5">
        <div class="card-body">
            <h5 class="card-title text-left"> Add word</h5>
            <%= form_for([:admin_category, @word]) do |f| %>
                <%= render partial: 'form', locals: { f: f } %>
            <% end %>
        </div>
    </div>
</div>

<script type="text/javascript">
$('.choice_taken').on('change', function() {
    $('.choice_taken').not(this).prop('checked', false);
});

$('.choice_taken').change(function () {
    $('#sub_button').prop("disabled", !this.checked);
}).change()

</script>

